/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* RESET CSS */
@import './reset.css';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.card {
  display: flex;
  gap: 1rem;
  padding: 10px;
  width: 600px;
  background-color: #eee;
}

/* ✅ img 태그에 width를 직접 설정하지 않고 div로 한번 감싸주기 */
.card__image {
  flex: 2;
  width: 100px;
}

.image {
  width: 100%;
}

.card__content {
  flex: 5;
}

.card__title {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .container {
    flex-direction: column;
  }

  .card {
    flex-direction: column;
    width: 100%;
  }
  .card__image {
    flex: 1;
    width: 100%;
  }

  .card__content {
    flex: 1;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    flex-direction: column;
  }
  .card {
    width: 100%;
  }
}
